@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --background: #0a0a0a;
  --foreground: #a1251d;
  background-color: var(--background);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
     --background: #0a0a0a;
    --foreground: #a1251d;
      background-color: var(--background);

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  padding: 10%;
  padding-top: 5rem;
}

@media (min-width: 600px) {
  body {
    padding-left: 20%;
    padding-right: 20%;
  }
}

.crTracker{
  z-index: 2;
  /* border-radius: 100%;
  border: 2px, solid, white; */
  /* border-radius: 5%;
  border-top-right-radius: 0; */
  
  border-bottom-left-radius: 5%;

  box-shadow: 1px 1px 200px 1px rgba(255, 255, 255, 0.274);

  position:fixed;
  top:0rem;
  right:0rem;
  height: auto;
  width: auto;

  color:white;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */

  /* background-color: #a1251d; */
  border: 8 solid #a1251d;
  /* padding-top: 1rem;
  padding-right: 1rem; */
  justify-items: center;
  align-content: center;
  
}


.card{
  padding: 5%;
  box-shadow: white;
  border:solid;
  border-color: white;

}

.borderCheck{
  border: 2px solid red;
}